*__pycache__
*.DS_Store
*.idea
*venv
*.pyc
*.egg-info
*.zip
*.pdf
*/autograder/requirements.txt
*/results.json
*.venv
*.mp4
dataset/frames/
dataset/video_clips/*.mp4
dataset/cam/
dataset/frame_stitching/
dataset/ground_truths/
object_detection/*.pt
*.pt
